<link rel='stylesheet' href='/css/header.css' />

<header>
	<div id ="h_top">
		<span id="h_logo"></span>
		<ul>
			<li>로그인</li>
		</ul>
	</div>
	<div id ="h_bottom">
		<div class = "menu">
			<ul>
				<li>혼자하기</li>
				<li>함께하기</li>
				<li>단계별학습</li>
			</ul>
		</div>
	</div>
</header>