<style>
	* {
	  box-sizing: border-box;
	  margin: 0;
	  padding: 0;
	}
	body {
	  width: 100vw;
	  height: 100vh;
	  /* display: flex;
		  justify-content: center; */
	}
	.logo_box {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  position: relative;
	  width: 100%;
	  height: 67px;
	  margin: auto;
	  text-align: center;
	}
	.logo1 {
	  position: absolute;
	  z-index: 1;
	  width: 197px;
	  height: 42.6px;
	  margin: auto;
	}
	.logo2 {
	  position: absolute;
	  z-index: 2;
	  width: 187px;
	  height: 32.6px;
	  margin: auto;
	}
	.header_bar {
	  width: 100%;
	  height: 67px;
	  background-color: rgb(29, 31, 64);
	}
	.main_box {
	  display: flex;
	  justify-content: center;
	  width: 100%;
	  height: 580px;
	  background-color: rgb(204, 204, 204);
	}
	.drag_box {
	  width: 1200px;
	  height: 500px;
	  margin: 30px auto;
	  background-color: white;
	  position: relative;
	  /* overflow: hidden; */
	}
  </style>
  <div class="logo_box">
	<!-- <img class="logo1" src="/img/logo_navy_hori.svg" /> -->
	<img class="logo2" src="/img/logo_yellow_hori.svg" />
  </div>
  <div class="header_bar"></div>