@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  body {
	font-family: 'Noto Sans KR', sans-serif;
	width: 100vw;
	height: 100vh;
  }

  li {
	  list-style: none;
  }