@import url("basic.css");

header {
	width: 100vw;
	font-weight: bold;
}

div#h_top {
	width: 1400px;
	height: 67px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0 auto;
}

span#h_logo {
	width: 197px;
	height: 42.6px;
	background-image: url("/img/logo_header.svg");
	position: absolute;
}


div#h_top ul {
	margin: auto 0 auto auto;
}

div#h_bottom {
	width: 100%;
	height: 67px;
	background-color: #1D1F40;
}

div#h_bottom div.menu{
	width: 1200px;
	height: 67px;
	color: #F5C258;
	margin: 0 auto;
}
div#h_bottom div.menu ul{
	margin: auto 0;
}
div#h_bottom div.menu li{
	display: inline-block;
}